
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);


@import url(line-icons.css);


.logo-tiki
{
    width: 179.4px;
    height: 60px;
    position: absolute;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #ECECEC;
    background-color: white;
    padding-top: 5px;
    
}
.bodyloginregister{
    background: #f9efef;
}
body {

    color: #555;

    background: #fff;

    font-family: Helvetica, sans-serif;

    padding: 0px !important;

    margin: 0px !important;

    font-size:14px !important;    

}

h1,h2,h3,h4,h5{

    font-weight: 300;

}

label{

    font-weight: 300;   

}

ul li {

    list-style: none;

}



a, a:hover, a:focus {

    text-decoration: none;

    outline: none;

    outline: 0;

}

input:focus, textarea:focus { outline: none; }

table tr th { color: #688a7e;}

*:focus {outline: none;}

::selection {

    background: #688a7e;

    color: #fff;

}




#container {

    width: 100%;

    height: 100%;

}




.lite{

    color: #00a0df !important;

}



/*login page*/




/*Modal Content*/




/*sidebar navigation*/



#sidebar {

    width: 180px;

    height: 100%;

    position: fixed;

    background: white;
    
    border-style: solid;
    
    border-bottom-style: none;
    
    border-width: 1px;
    
    border-color: #ECECEC;

}



.nav-collapse.collapse {

    display: inline;

}



ul.sidebar-menu , ul.sidebar-menu li ul.sub{

    margin: -2px 0 0;

    padding: 0;

}



ul.sidebar-menu {

    margin-top: 60px;

}



#sidebar > ul > li > ul.sub {

    display: none;

}



#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {

    display: block;

}



ul.sidebar-menu li ul.sub li{

    background: white;

    margin-bottom: 0;

    margin-left: 0;

    margin-right: 0;

}



ul.sidebar-menu li ul.sub li:last-child{

    border-radius: 0 0 4px 4px;

    -webkit-border-radius: 0 0 4px 4px;

}



ul.sidebar-menu li ul.sub li a {

    font-size: 12px;

    padding: 0 0 0 32px;

    line-height: 35px;

    height: 35px;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -ms-transition: all 0.3s ease;

    transition: all 0.3s ease;

    color: #d0d8df;

    font-size: 14px;

}



ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {

    color: #EB6B56;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -ms-transition: all 0.3s ease;

    transition: all 0.3s ease;

    display: block;

}



ul.sidebar-menu li{

    line-height: 20px !important;

    /*margin-bottom: 5px;

    margin-left:10px;

    margin-right:10px;*/

    

}

/*ul.sidebar-menu li:hover{

    border-bottom: 1px solid #688a7e;

}*/

ul.sidebar-menu li.sub-menu{

    line-height: 15px;

    font-size: 16px;

}



ul.sidebar-menu li a span{

    display: inline-block;

}



ul.sidebar-menu li a{

    color: #999;

    text-decoration: none;

    display: block;

    padding: 15px 0 15px 10px;

    font-size: 16px;

    font-weight: 300;

    outline: none;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -ms-transition: all 0.3s ease;

    transition: all 0.3s ease;

    border: none;
    
    font-weight: 500;
}

/*ul.sidebar-menu li a i{

    position: relative;

    top: 2px;

}*/

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {

    background: white;

    color: #EB6B56;

    display: block;

    /*border-radius: 4px;

    -webkit-border-radius: 4px;*/

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    -o-transition: all 0.3s ease;

    -ms-transition: all 0.3s ease;

    transition: all 0.3s ease;       
    
    font-weight: 500;

}

ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {

    border-bottom: none;

}

/*ul.sidebar-menu li.active a,*/ ul.sidebar-menu .sub-menu li.active a{

    border-bottom: none;   

}



ul.sidebar-menu li a i {

    font-size: 18px;

    padding-right: 6px;

    /*color: #688a7e;*/

}



ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {

    color: #EB6B56;

}



ul.sidebar-menu li.active a i {

    color: #eb6b56;

}





#sidebar ul > li > a .arrow {

    border-bottom: 4px solid transparent;

    border-left: 4px solid #A0A0A0;

    border-top: 4px solid transparent;

    float: right;

    height: 0;

    margin-right: 10px;

    margin-top: 6px;

    width: 0;

}

#sidebar ul > li > a .menu-arrow { 

    float: right;    

    margin-right: 8px;

    margin-top: 6px;    

}

#sidebar > ul > li > a .arrow.open {

    border-left: 4px solid transparent;

    border-right: 4px solid transparent;

    border-top: 5px solid #A0A0A0;

    float: right;

    height: 0;

    margin-right: 10px;

    margin-top: 8px;

    width: 0;

}



#sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow {

    float: right;

    margin-top: 6px;

    margin-right: 10px;

    width: 0;

    height: 0;

    border-left: 4px solid #d0d8df;

    border-top: 4px solid transparent;

    border-bottom: 4px solid transparent;

}



#sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open {

    float: right;

    margin-top: 8px;

    margin-right: 10px;

    width: 0;

    height: 0;

    border-top: 5px solid #d0d8df;

    border-left: 4px solid transparent;

    border-right: 4px solid transparent;

}



.mail-info, .mail-info:hover {

    margin: 3px 6px 0 0;

    font-size: 11px;

}

/*profile status bubbly*/

.online-profile li a i {

    position: relative;

    left: -12px;

    top: -10px;

}

.online-profile li a span i {

    position: relative;    

    top: 10px;

}

/*chat-*/



.chat-online-profile li a i {

    position: relative;

    left: -12px;

    top: -10px;

}

.chat-online-profile li a span i {

    position: relative;    

    top: 10px;

}

.chat-online-profile li a{

    border-bottom: 1px solid #D7D7D7;

}

.chat-online-profile li a:hover, .chat-online-profile li a:focus, .chat-online-profile li a:active{

    background: #eeeeee !important;

    border-bottom: 1px solid #688a7e !important;

}

.chat-online-profile li a:hover span i,.chat-online-profile li a:focus span i,.chat-online-profile li a:active span i{

    color: #688a7e;

}

.right-chat-panel{

    max-height: 600px;

}

.compose-mail{

    width: 95%;

    font-size: 16px;

    border-radius: 0;

}

/*main content*/



#main-content {

    margin-left: 180px;

}



.header, .footer {

    min-height: 60px;

    padding: 0 15px;

}

.box1 {

    font-size: 16px;

    display: inline-block;

    width: 25%;

    padding: .25em .5em;

    margin: 20px 10px 0 0;

}

.header {

    position: fixed;

    left: 0;

    right: 0;

    z-index: 1002;

}



.white-bg {    

    
    background: rgba(255,255,255,0.9);

    border-bottom: 1px solid #f1f2f7;

}

.dark-bg {    

    background: rgba(54,66,74,1);


}

.panel-content{

    padding: 10px;

}

.wrapper {

    display: inline-block;

    margin-top: 60px;

    padding: 15px;

    width: 100%;

}



a.logo {

    font-size: 22px;

    font-weight: 300;

    color: #fed189;

    float: left;

    margin-top: 15px;

    text-transform: uppercase;

}



a.logo:hover, a.logo:focus {

    text-decoration: none;

    outline: none;

}



a.logo span {

    color: #688a7e;

}





/*notification*/



#top_menu .nav > li, ul.top-menu > li {

    float: left;

}

.search-row {

    float: left;

    margin-top: 15px;

    margin-left: 16px;

}

.notification-row {

    float: right;

    margin-top: 15px;

    margin-left: 65px;

}

#task_notificatoin_bar, #mail_notificatoin_bar, #alert_notification_bar{

    margin-top: 7px;

}



ul.top-menu > li > a {

    color: #fed189;

    font-size: 18px;    

    padding: 2px 16px;

    margin-right: 15px;

}



ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {    

    background: transparent !important;

    color: #D7D7D7 !important;

}



.notification-row .badge {

    position: absolute;

    right: -4px;

    top: 0px;

    z-index: 100;

    border-radius: 9px;

    min-width: 18px;

    height: 18px;

    text-align: center;

    padding: 3px 5px;

    background: #00a0df;

    font-weight: 400;

}

.badge {    

    border-radius: 9px;

    min-width: 18px;

    height: 18px;

    text-align: center;

    padding: 3px 5px;

    background: #00a0df;

}



.dropdown-menu.extended {

    max-width: 300px !important;

    min-width: 160px !important;

    top: 42px;

    width: 235px !important;

    padding: 0;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;

    border: none !important;

    border-radius: 4px;

    -webkit-border-radius: 4px;

}

.navbar-form{

    padding: 0px;

    margin: 0 0 0 200px;   
    
    width: 100%;
    

}



.navbar-form .form-control{

    width: 100%;

    height: 30px;

    background: white url('../img/icons/search-line-icon.png') no-repeat 3px;

    padding-left: 24px;

    margin-top: 1px;    

}



@media screen and (-webkit-min-device-pixel-ratio:0) {

    /* Safari and Chrome */

    .dropdown-menu.extended  {

        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;

    };

}

/* bootstrape editor*/

.dropdown-menu.extended li p {

    background-color: #F1F2F7;

    color: #666666;

    margin: 0;

    padding: 10px;    

}



.dropdown-menu.extended li p.green {

    background-color: #4cd964;

    color: #fff;

}



.dropdown-menu.extended li p.red {

    background-color: #00a0df;

    color: #fff;

}

.dropdown-menu.extended li p.blue {

    background-color: #688a7e;

    color: #fff;

}



.dropdown-menu.extended li p.yellow {

    background-color: #fcb322;

    color: #fff;

}



.dropdown-menu.extended li a {

    border-bottom: 1px solid #ECECEC !important;

    font-size: 12px;

    list-style: none;

}



.dropdown-menu.extended li a {

    padding: 15px 10px !important;

    width: 100%;

    display: inline-block;

}



.dropdown-menu.extended li a:hover {

    background-color: #F7F8F9 !important;

    color: #2E2E2E;

    border-bottom: 1px solid #ECECEC !important;

}



.dropdown-menu.tasks-bar .task-info .desc {

    font-size: 13px;

    font-weight: normal;

}



.dropdown-menu.tasks-bar .task-info .percent {

    display: inline-block;

    float: right;

    font-size: 13px;

    font-weight: 600;

    padding-left: 10px;

    margin-top: -4px;

}



.dropdown-menu.extended .progress {

    margin-bottom: 0 !important;

    height: 10px;

}



.dropdown-menu.inbox li a .photo img {

    border-radius: 2px 2px 2px 2px;

    float: left;

    height: 40px;

    margin-right: 4px;

    width: 40px;

}



.dropdown-menu.inbox li a .subject {

    display: block;

}



.dropdown-menu.inbox li a .subject .from {

    font-size: 12px;

    font-weight: 600;

}



.dropdown-menu.inbox li a .subject .time {

    font-size: 11px;

    font-style: italic;

    font-weight: bold;

    position: absolute;

    right: 5px;

}



.dropdown-menu.inbox li a .message {

    display: block !important;

    font-size: 11px;

	

}



.top-nav  {

    margin-top: 7px;

}



.top-nav ul.top-menu > li .dropdown-menu.logout {

    width: 200px !important;



}



.top-nav li.dropdown .dropdown-menu {

    float: right;

    right: 0;

    left: auto;

}



.dropdown-menu.extended.logout > li {

    float: left;

    text-align: left;

    width: 100%;

}

.dropdown-menu.extended.logout > li.eborder-top {

    border-top: 2px solid white !important;    

}

.dropdown-menu.extended.logout > li:last-child {

    float: left;

    text-align: left;

    width: 100%;

    background: #688a7e;    

}



.dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {

    color: #fff;

    border-bottom: none !important;

    text-transform: uppercase;

    background-color: #EB6B56!important;

}



.dropdown-menu.extended.logout > li:last-child > a:hover > i{

    color: #fff;

}

.dropdown-menu > li > a{

    color: #797979;

}

.dropdown-menu.extended.logout > li > a {

    border: none !important;

    font-size: 14px;

    list-style: none;

    padding: 15px 10px !important;

    width: 100%;

    display: inline-block;

}



.dropdown-menu.extended.logout > li > a:hover {

    background-color: #F7F8F9 !important;

    color: #2E2E2E;

    border: none !important;

}



.dropdown-menu.extended.logout > li > a:hover i {

    color: #688a7e;

}



.dropdown-menu.extended.logout > li > a i {

    font-size: 17px;

}



.dropdown-menu.extended.logout > li > a > i {

    display: inline-block;

    padding-right: 10px

}



.top-nav .username {

    font-size: 13px;

    color: #bdbdbd;

}



.top-nav ul.top-menu > li > a {

    padding: 8px;

    background: none;

    margin-right: 0;

}

.top-nav ul.top-menu > li {

    margin-left: 10px;

}



.top-nav ul.top-menu > li > a:hover, .top-nav ul.top-menu > li > a:focus {    

    background: #F1F2F7;



}



.top-nav .dropdown-menu.extended.logout {

    top: 50px;

}



.top-nav .nav .caret {

    border-bottom-color: #A4AABA;

    border-top-color: #A4AABA;

}

.top-nav ul.top-menu > li > a:hover .caret {

    border-bottom-color: #7498f1;

    border-top-color: #7498f1;

}



.log-arrow-up {

    background: url("../img/arrow-up.png") no-repeat;

    width: 20px;

    height: 11px;

    position: absolute;

    right: 20px;

    top: -10px;

}

/*----*/

.page-header {

  margin: 12px 0 20px;

  border-bottom: none;

  opacity: 0.7;

  text-transform: uppercase;

}

.page-header i {

  color: #acb1b8;

  margin-right: 10px;

  float: left;

  font-size: 30px;

  line-height: 22px;

  opacity: 0.8;  

}

.breadcrumb {

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

  height: 34px;

  position: relative;  

  margin: 0 0 19px 0;

  overflow: hidden;

}

.breadcrumb li {

  position: relative;

  margin-right: 0;

}

.breadcrumb li i {

  Font-size: 15px;

  margin-right: 5px;

}

.breadcrumb > .active {

  color: #d4d4d4;

}

/* .info-box

=================================================================== */

.info-box {

  min-height: 140px;

  margin-bottom: 30px;

  padding: 20px;

  color: white;

}

.info-box i {

  display: block;

  height: 100px;

  font-size: 60px;

  line-height: 100px;

  width: 100px;

  float: left;

  text-align: center;

  margin-right: 20px;

  padding-right: 20px;

  
}

.info-box .count {

  margin-top: 20px;

  font-size: 34px;

  font-weight: 700;

}

.info-box .title {

  font-size: 12px;

  text-transform: uppercase;

  font-weight: 600;

}


/*----------------	color------------------------*/

.dark-heading-bg {

  background: #4c4f53;

  border: 1px solid #4c4f53;


}

.main-bg {

  background: #e6e8ea;

}


.red-bg {

  color : #fff;

  background : #EB6B56;

  background-color : #EB6B56;

}

.green-bg {

  color: #fff;
  background: #26c281;
  background-color: #ff719d

}

.greenLight-bg {

  color: #71843f;

  background: #71843f;

  background-color: #71843f;

}


.brown-bg {

  color: #fff;
  background: #d1b993;
  background-color: #af6aec;

}

.gray-bg {

  color : #768399;

  background : #e4e9eb;

  background-color : #e4e9eb;

}

.dark-bg {

  color : #333;

  background : #fff;

  background-color : #fff;
  box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);

}
.dark-bgk{
    color: #fff;
    background: #fff;
    background-color: #2ed6d1;
}


/*----------------------	panel-----------------*/

.panel {

  border:none;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;

  -webkit-box-shadow: none;

  -moz-box-shadow: none;

  box-shadow: none;

  margin-bottom: 30px;

}

.panel .panel-heading {

  line-height: 34px;

  padding: 0 15px;

  min-height: 34px;

  border-left: 1px solid #ccc;

  border-right: 1px solid #ccc;

  -webkit-border-radius: 0px;

  -moz-border-radius: 0px;

  border-radius: 0px;  

  position: relative;

  box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

  -moz-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);

  -webkit-box-shadow: inset 0 -2px 0 rgba(0,0,0,.05);  

}

.panel .panel-heading .panel-title {

  line-height: 40px;

}

.panel .panel-heading i {

  width: 30px;

  display: inline-block;

  font-size: 14px;

  border-right:1px solid #e6e6e6 ;

}

.panel .panel-heading ul li {

  border-top:1px solid #e6e6e6 ;

  border-left:1px solid #e6e6e6 ;

  border-right:1px solid #e6e6e6 ;

}

.panel .panel-heading h2 {

  height: 100%;

  width: auto;

  display: inline-block;

  font-size: 14px;

  position: relative;

  margin: 0;

  line-height: 34px;

  font-weight: 400;

  letter-spacing: 0;

}

.panel .panel-heading .panel-actions {

  float: right;

  margin-right: -15px;

  height: 40px;

  font-size: 0;

}

.panel .panel-heading .panel-actions i {

  display: inline-block;

  text-align: center;

  width: 34px;

  -webkit-transition: all 0.1s ease-in-out;

  -moz-transition: all 0.1s ease-in-out;

  -ms-transition: all 0.1s ease-in-out;

  -o-transition: all 0.1s ease-in-out;

  transition: all 0.1s ease-in-out;

  text-decoration: none;

  font-size: 14px;

}

.panel .panel-heading .panel-actions a {

  text-decoration: none;

  font-size: 14px;

  text-align: center;

  display: inline-block;

  line-height: 32px;

  padding: 0;

  margin: 0;

  color: #333;

  border-left: 1px solid rgba(0,0,0,.09);

}

.panel-actions .btn-setting:hover,

.panel-actions .btn-minimize:hover,

.panel-actions .btn-close:hover {

  background-color: rgba(0,0,0,.05);

}


.panel .panel-body {

  border-width: 0px 0px 2px;

  border-style: solid;

  border-top: none;

  border-right-color: #ECECEC!important;

  border-bottom-color: #ECECEC!important;

  border-left-color: #ECECEC!important;

}


.panel .panel-body.padding-horizontal {

  padding: 0 15px;

}


}

.panel.panel-default.panel-heading {

  background: #97d3c5;   

}



.panel.panel-primary .panel-heading{

  background: #5dc3e7;

  color: #092f3d;

  border-color: #20a8d8;

}

.form-group .btn-default{
    border-style: solid;
    border-color: #EB6B56;
    border-width: 1px;
    color: #EB6B56; 
}

.form-group .btn-default:hover{
    border-style: solid;
    border-color: #EB6B56;
    border-width: 1px;
    color: white;
    background-color: #EB6B56;
}






/*search*/



.search {

    margin-top: 6px ;

    width: 20px;

    -webkit-transition: all .3s ease;

    -moz-transition: all .3s ease;

    -ms-transition: all .3s ease;

    -o-transition: all .3s ease;

    transition: all .3s ease;

    border: 1px solid #fff;

    box-shadow: none;

    background: url("../img/search-icon.jpg") no-repeat 10px 8px;

    padding:0 5px 0 35px;

    color: #fff;

}



.search:focus {

    margin-top: 5px ;

    width: 180px;

    border: 1px solid #eaeaea;

    box-shadow: none;

    -webkit-transition: all .3s ease;

    -moz-transition: all .3s ease;

    -ms-transition: all .3s ease;

    -o-transition: all .3s ease;

    transition: all .3s ease;

    color: #c8c8c8;

    font-weight: 300;

}



/*--sidebar toggle---*/







.sidebar-closed > #sidebar > ul {

    display: none;

}



.sidebar-closed #main-content {

    margin-left: 0px;

}



.sidebar-closed #sidebar {

    margin-left: -180px;

}




.state .panel-body{

    padding: 0px;

}

.panel-body.chart-texture {

    background: url("../img/chart-texture.jpg");

    -webkit-border-radius: 4px 4px 0px 0px;

    border-radius: 4px 4px 0px 0px;

    padding: 0px;

}



/*box search*/

.box-search
{
 margin-bottom: 50px;   
}


/*personal task*/



.task-thumb {

    width: 90px;

    float: left;

}



.task-thumb img {

    border-radius: 4px;

    -webkit-border-radius: 4px;

}



.task-thumb-details {

    display: inline-block;

    margin: 25px 0 0 10px;

}



.task-progress {

    float: left;

}



.task-thumb-details h1, .task-thumb-details h1 a, .task-progress h1, .task-progress h1 a {

    color: #3B3C3D;

    font-size: 18px;

    margin: 0;

    padding: 5px;

    font-weight: 600;

}



.task-thumb-details p, .task-progress p {

    padding-top: 5px;

    color: #fed189;

}



.personal-task{
    table-layout: fixed;
    margin-top: 10px;
}

.personal-task tbody tr td{
    

    border-color: #ececec;
    
    font-size: 16px;
    
    font-family: 'Roboto';
    
    font-weight: 500;
    

}


.personal-task tbdoy tr .td-option{
    float: left;
}

.personal-task tbody tr td:hover{
    cursor: pointer;
    
}




.personal-header
{
    table-layout: fixed;
}

.personal-header tbody tr td{
    list-style: none;
    border: none;
    font-weight: 600;
}




.personal-task tbody tr td i {

    font-size: 16px;

    color: #c7cbd4;

    position: relative;


}



.personal-task.table-hover > tbody > tr:hover > td,

.table-hover > tbody > tr:hover > th {

    background-color: #f7f8fc;
    
}



.personal-task.table-hover > tbody > tr:hover > td i{

    color: #688a7e;
}



.personal-task > tbody > tr > td:last-child {

    text-align: right;

}



.task-option {

    float: right;

}



.task-option select{

    height: 35px;

    border: 1px solid #ececec;

    border-radius: 4px;

    -webkit-border-radius: 4px;

    padding: 8px;

    color: #a4abbb;

}



.progress-panel {

    padding-bottom: 5px;
    padding-top: 5px;

}





/*badge*/



.badge.bg-primary {

    background: #688a7e;

}



.badge.bg-success {

    background: #4cd964;

}



.badge.bg-warning {

    background: #FCB322;

}



.badge.bg-important {

    background: #00a0df;

    font-family: 'Lato', sans-serif;

    font-size: 11px;

}



.badge.bg-info {

    background: #34aadc;

}



.badge.bg-inverse {

    background: #797979;

}

.panel{
    border: none;
    box-shadow: none;
 }

.panel .panel-heading{
    border: none;
}




@media only screen and (max-width: 840px)
{  
    .navbar-form{
        display: none;
    }
}


/*login*/


.container-login{
    padding-top: 120px;
}
.container-register{
    padding-top: 20px;
}

.form{
    background-color: white;
    /*width: 400px;*/
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(63,63,68,0.05), 0 1px 3px 0 rgba(63,63,68,0.15);
}

.form-login .form-group .img-responsive{
    margin: 0 auto;
}


.form-login .form-control{
    width: 296px;
    height: 45px;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 15px;
}

.form-login .form-group .login-btn{
    margin: 0 auto;
    width: 296px;
    background-color: #EB6B56;
    color: white;
    height: 45px;
    font-size: 18px;

}
.daftar{
  margin-top: 20px;
}

.bottom-text{
    margin: 0 auto;
    width: 400px;
}

.bottom-text ul{
    margin: 0 auto;
}

.bottom-text .bottom-content{
    list-style: none;
    display: inline-block;
    margin: 0 auto;
    
}

.bottom-text .bottom-content a{
    margin: 20px;
}

.bottom-text a{
    font-size: 16px;
    font-weight: 600;
}

